.webutils-message {
  opacity: 0.99999;
  position: relative;
  transition: opacity 250ms ease;

  &.invisible {
    opacity: 0;
  }

  &.webutils-message-closeable {
    padding-right: 2em;

    > .webutils-message-close {
      background: none;
      border: none;
      border-radius: 0;
      box-shadow: none;
      color: inherit;
      cursor: pointer;
      font-size: 1.5em;
      height: auto;
      line-height: 1;
      margin: 0;
      opacity: 0.75;
      padding: 0;
      position: absolute;
      right: 0.5em;
      text-shadow: none;
      top: 0.25em;
      transition: opacity 250ms ease;

      &:hover {
        opacity: 0.99;
      }
    }
  }
}
