.modal {
  align-items: center;
  background-color: rgba(0,0,0,0.75);
  bottom:0;
  display: flex;
  justify-content: center;
  left:0;
  margin: 0;
  overflow-y: auto;
  padding: 16px;
  position: fixed !important;
  right:0;
  top:0;
  z-index: 9999;
}

.modal-dialog {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 100%;
  max-width: 640px;
  width: auto;
}

.modal-header {
  border-radius: 2px 2px 0 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  color: #444;
  display: flex;
  flex: none;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;

  .modal-close-link {
    align-items: center;
    background: rgba(0,0,0,0.05);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0 2px 0 0;
    cursor: pointer;
    display: flex;
    flex: none;
    font-size: 22px;
    padding: 0 1em;
    user-select: none;

    &:hover,
    &:active {
      background: rgba(0,0,0,0.1);
    }
  }
}

.modal-title {
  align-items: center;
  display: flex;
  margin: 16px 0;
  outline: 0;
  padding: 0 16px;
}

.modal-content {
  border-radius: 2px;
  height: auto;
  max-height: none;
  outline: none;
  overflow: auto;
  padding: 0 16px 16px;
  -webkit-overflow-scrolling: touch;
}

.modal-footer {
  align-items: center;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex: none;
  padding: 16px;
  z-index: 1;
}

.modal-error > .modal-header,
.modal-warning > .modal-header,
.modal-success > .modal-header {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);

  > .modal-title: before {
    flex: none;
    font-size: 1.3em;
    line-height: 0;
    padding-right: 16px;
  }
}

.modal-success > .modal-header {
  background: #8DD08E;
  color: #2F563C;

  > .modal-title:before {
    /* Success - checkmark */
    content: '\2714';
  }
}

.modal-error > .modal-header {
  background: #EA8585;
  color: #762323;

  > .modal-title:before {
    /* Error - saltire */
    content: '\2A02';
  }
}

.modal-warning > .modal-header {
  background: #F5EC8A;
  color: #543424;

  > .modal-title:before {
    /* Warning - caution */
    content: '\26A0';
  }
}

.backgroundScrollDisable {
  overflow: hidden;
}
