.modal {
  position:fixed !important;
  top:0; right:0; bottom:0; left:0;
  margin:0;
  padding:0;
  background-color:rgba(0,0,0,0.75);
  z-index:9999;
  overflow-y:auto;
  display:flex;
  align-items:center;
  justify-content:center;
}

.modal-dialog {
  margin:0 16px;
  max-width:640px;
  max-height:95%;
  width:auto;
  height:auto;
  background-color:#FFF;
  border-radius:2px;
  display: flex;
  flex-direction: column;

  > .modal-header {
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex: none;
    z-index: 1;
    color: #444;

    > .modal-title {
      margin: 16px 0;
      padding: 0 16px;
      display: flex;
      align-items: center;
      outline: 0;
    }

    > .modal-close-link {
      display: flex;
      align-items: center;
      padding: 0 1em;
      font-size: 22px;
      cursor: pointer;
      background: rgba(0,0,0,0.05);
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0 2px 0 0;
      user-select: none;
      flex: 0 0 auto;

      &:hover,
      &:active {
        background: rgba(0,0,0,0.1);
      }
    }
  }

  > .modal-content {
    height: auto;
    overflow: auto;
    border-radius: 2px;
    padding: 0 16px;
    -webkit-overflow-scrolling:touch;
    max-height:none;
    outline: none;
  }

  > .modal-footer {
    border-radius: 0 0 2px 2px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    justify-content: flex-end;
    flex: none;
    z-index: 1;
    padding: 16px;
  }
}

.modal-error > .modal-header,
.modal-warning > .modal-header,
.modal-success > .modal-header {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);

  > .modal-title:before {
    line-height: 0;
    padding-right: 16px;
    font-size: 1.3em;
    flex: 0 0 auto;
  }
}

.modal-success > .modal-header {
  background: #8DD08E;
  color: #2F563C;

  > .modal-title:before {
    /* Success - checkmark */
    content: '\2714';
  }
}

.modal-error > .modal-header {
  background: #EA8585;
  color: #762323;

  > .modal-title:before {
    /* Error - saltire */
    content: '\2A02';
  }
}

.modal-warning > .modal-header {
  background: #F5EC8A;
  color: #543424;

  > .modal-title:before {
    /* Warning - caution */
    content: '\26A0';
  }
}

.backgroundScrollDisable {
  overflow:hidden;
}
